<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Phase1 Suite">

    <test name="Login And Logout">
        <classes>
            <class name="Testcases.loginTests">
                    <methods>
                        <include name="loginIntoZGlueApplication"></include>
                    </methods>
            </class>

        </classes>
    </test>
</suite>
